th {
    font-weight: bold;
}
.nohover:hover{
    background-color: white;
}

tr:hover {
    background-color: lightgray;
}

.center {
    float: none;
    margin: auto 0;
}

.padding-top {
    padding-top: 10px;
}
.padding {
    margin: 10px;
}

.box {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

input[type="text"], input[type="date"] {
    display: block;
}