th {
    font-weight: bold;
}
.nohover:hover{
    background-color: white;
}

tr:hover {
    background-color: lightgray;
}

.center {
    float: none;
    margin: auto 0;
}

input[type="text"], input[type="date"] {
    display: block;
}