label, input[type='text'] {
    display:block;
}

th {
    font-weight: bold;
}
.nohover:hover{
    background-color: white;
}

tr:hover {
    background-color: lightgray;
}

hr{
    margin: auto 0;
    padding: 0;
}